@media (max-width: 590px) {
  .footer {
    height: auto;
    min-height: 50px;

    p {
      line-height: 25px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .user-profile-wrapper {
      .profile-pic-con {
        .actions {
          padding-top: 75px;
        }
      }
    }
}